/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-size: 18px;
  font-family: 'IBM Plex mono', sans-serif;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.page-title {
  text-transform: lowercase;
  line-height: 82.5%;
  color: var(--page-title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  padding: var(--page-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: flex-end;
  align-items: center;
  margin-block-end: var(--page-margin-bottom);
}

.header::before {
  content: '';
  position: absolute;
  width: var(--corner-square-size);
  height: var(--corner-square-size);
  border-block-start: 1px solid var(--header-decor-color);
  border-inline-end: 1px solid var(--header-decor-color);
  inset-block-start: var(--page-padding);
  inset-inline-end: var(--page-padding);
}

.header::after {
  content: '';
  position: absolute;
  width: var(--corner-square-size);
  height: var(--corner-square-size);
  border-block-end: 1px solid var(--header-decor-color);
  border-inline-start: 1px solid var(--header-decor-color);
  inset-block-end: var(--page-padding);
  inset-inline-start: var(--page-padding);
}

.header__decorated-text {
  position: absolute;
  inset-block-start: 0;
  top: var(--page-padding);
  inset-inline-end: calc(var(--page-padding) + var(--corner-square-size, 25px) + 3px);
  color: var(--header-decor-color);
  line-height: 140%;
  text-transform: uppercase;
}

.header__decorated-text::before {
  content: '';
  position: absolute;
  top: calc(50% - 9px / 2);
  inset-inline-end: -19px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* .header__theme-menu  */

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .header__theme-menu-item */

.header__theme-menu-button {
  display: inline-block;
  line-height: 100%;
  padding-inline: 13px;
  padding-block-start: 1.5px;
  padding-block-end: 4.5px;
  text-transform: lowercase;
  color: var(--header-decor-color);
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--header-decor-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end-color: var(--header-decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-decor-color);
  pointer-events: none;
}

.header__title {
  justify-self: flex-start;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  font-weight: bold;
}

.main {
  padding-inline: var(--page-padding);
  margin-block-end: var(--page-margin-bottom);
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section:not(:last-child) {
  margin-block-end: var(--main-section-margin);
}

.main__section-header {
  font-size: inherit;
  color: var(--main-section-header-color);
}

.main__section-subheader {
  font-size: inherit;
  color: var(--main-section-header-color);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
  line-height: 130%;
}

.article-title-regular {
  font-weight: normal;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1.5px solid currentColor;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.main__image-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section-image {
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer::before {
  content: '';
  position: absolute;
  width: var(--corner-square-size);
  height: var(--corner-square-size);
  border-block-start: 1px solid var(--header-decor-color);
  border-inline-end: 1px solid var(--header-decor-color);
  inset-block-start: var(--page-padding);
  inset-inline-end: var(--page-padding);
}

.footer::after {
  content: '';
  position: absolute;
  width: var(--corner-square-size);
  height: var(--corner-square-size);
  border-block-end: 1px solid var(--header-decor-color);
  border-inline-start: 1px solid var(--header-decor-color);
  inset-block-end: var(--page-padding);
  inset-inline-start: var(--page-padding);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  line-height: 130%;
}
