/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-padding: 10px;
  --corner-square-size: 25px;
  --main-section-margin: 50px;
  --page-margin-bottom: 40px;

  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: rgb(255, 0, 112);
  --corner-square-color: rgb(255, 0, 112);
  --page-title-color: #DB00FF;
  --title-decor-color: #000028;
  --header-decor-color: #ff0070;
  --header-decor-color-hover: rgb(255, 0, 112, 0.4);
  --main-section-header-color: #ff0070;
  --text-color: #F1B2CE;
}